<style type="text/css" media="screen">
  body {
    font-size: 30px;
    text-align: center;
  }
  
  #the-form {
    width: 800px;
    text-align: left;
    margin: 15% auto 0;
  }
  
  form {
    margin-left: 15px;
    margin-top: 1em;
  }
  
  input {
    font-size: 30px;
  }
</style>

<div id="the-form">
  <h1>Thunder</h1>

  <form action="/user">
    <label>
      Enter a username: 
      <input name="username" type="text">
    </label>
    <input type="submit" value="Lightning!">
  </form>
</div>

