<html>
  <head>
    <title>thunder</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <script src="/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/jquery.search.js" type="text/javascript" charset="utf-8"></script>
    <script src="/jquery.progress.js" type="text/javascript" charset="utf-8"></script>
    <script src="/app.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-9093298-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>