<style type="text/css" media="screen">
  body {
    font-size: 50px;
    text-align: center;
  }
  
  a {
    color: #00f;
  }
  
  h2 {
    margin: 1em auto;
    width: 500px;
    text-align: left;
  }
  
  p {
    text-align: left;
    width: 500px;
    margin: 0 auto 1em;
  }
</style>

<h2>Throttled!</h2>

<p>
  GitHub's tired.
</p>

<p>
  Give it a few minutes, then <a href="/~<%= @user.name %>">try again</a>.
</p>